body{
    font-family: 'Stylish', sans-serif;
    background-image: url("spaceBackground.jpg");
}
#quiz, #results{
    display:none;
}

.choiceSelected{
    background-color: greenyellow;
    width: 200px;
}

ul{
    padding: 0px;
    list-style-type: none;
}

#starter{
    position: relative;
    top: 100px;
    align-content: right;
    left: 400px;
    /* height: 0px; */
    /* width: 100px; */
}

#startBtn{
    width: 200px;
    height: 100px;
    text-align: left;
    font-size: 300%;
    text-align: center;
}
.mainContent{
    background: darkslategrey;
    padding-bottom: 50%;
}

#questions{
    text-align: center;
    font-size: 40px;
}
#choices{
    font-size: 20px;
}
#title{
    color: whitesmoke;
}
#timeCount{
    color: cadetblue;
    font: bold;
}